$path: 'https://cdn.jsdelivr.net/gh/buppagi/webfonts/fonts/';
/*
 * webfonts - 무료 한글 폰트를 웹폰트로 사용하기
 * @link       https://meilcoding.com
 * @repository https://github.com/buppagi/webfonts
 */

@mixin font-face( $font-name, $font-path, // path + file name. Ex : path/to/font/filename
$font-weight: 400, $font-style: normal, $support-required: 'modern') {
  @font-face {
    font-family: $font-name;
    font-style : $font-style;
    font-weight: $font-weight;
    @if $support-required=='fulloldie' {
      src: local($font-name), /* computer */
      url('#{$font-path}.eot'), /* IE9 호환 모드 */
      url('#{$font-path}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('#{$font-path}.woff2') format('woff2'), /* 최신 브라우저 */
      url('#{$font-path}.woff') format('woff'), /* 최신 브라우저 */
      url('#{$font-path}.svg##{$font-name}') format('svg'),
      url('#{$font-path}.ttf') format('truetype') /* Safari, Android, iOS */; 
    }
    @if $support-required=='oldie' {
      src: local($font-name), /* computer */
      url('#{$font-path}.eot'), /* IE9 호환 모드 */
      url('#{$font-path}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('#{$font-path}.woff2') format('woff2'), /* 최신 브라우저 */
      url('#{$font-path}.woff') format('woff'),/* 최신 브라우저 */
      url('#{$font-path}.ttf') format('truetype') /* Safari, Android, iOS */;
    }
    @if $support-required=='oldienotwf2' {
      src: local($font-name), /* computer */
      url('#{$font-path}.eot'), /* IE9 호환 모드 */
      url('#{$font-path}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('#{$font-path}.woff') format('woff'), /* 최신 브라우저 */
      url('#{$font-path}.svg##{$font-name}') format('svg'),
      url('#{$font-path}.ttf') format('truetype') /* Safari, Android, iOS */; 
    }
    @if $support-required=='recent' {
      src: url('#{$font-path}.woff2') format('woff2'), /* 최신 브라우저 */
      url('#{$font-path}.woff') format('woff'), /* 최신 브라우저 */
      url('#{$font-path}.ttf') format('truetype') /* Safari, Android, iOS */; 
    }
    @if $support-required=='modern' {
      src: local($font-name),
      url('#{$font-path}.woff2') format('woff2'), /* 최신 브라우저 */
      url('#{$font-path}.woff') format('woff'); /* 최신 브라우저 */
    }
  }
  @if $support-required !='fulloldie' and $support-required !='oldie' and $support-required !='oldienotwf2' and $support-required !='recent' and $support-required !='modern' {
    @error 'Invalid support-required value. Must be "oldie"==>IE8 and above/ Android native browser 4+/ Safari 4.3 OR "recent"==>IE9+/ Android native browser 4.0+/ Safari 4.3+ OR "modern"==>IE9+/ Android native browser 4.4+/ Safari 5.1+';
  }
}


